body {
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E0E0E0, #FFFFFF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E0E0E0, #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
.logo {
  width: 30%;
}

.conSombra{
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.material-icons.md-48 { font-size: 48px; }
.material-icons.red600 { color: red; }