<div class="row">
    <div class="col-4 mx-auto">
        <div class="container">
            <p class="typography-headline-6">Ingresa tus datos:</p>
            <form action="/usuarios/registrarse" method="POST" autocomplete="off">
                <div class="form-group">
                    <div class="floating-label textfield-box">
                        <label for="usuario">Usuario</label>
                        <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Ingresa tu Usuario">
                    </div>
                </div>
                <div class="form-group">
                    <div class="floating-label textfield-box">
                        <label for="clave">Clave</label>
                        <input type="password" class="form-control" id="clave" name="clave" placeholder="Ingresa tu Clave">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Iniciar Sesion</button>
                </div>
            </form>
        </div>
    </div>
</div>